.content {
  background-color: gray;
  height: 400px;
  width: 900px;
  margin: auto;
}
.content img {
  max-height: 400px;
}
.home-container {
  margin: 0vh 2 vw 0vh 10vw;
}
.middle {
  margin: left 15px;
  background-color: rgb(207, 142, 37);
}
.Toptendance {
  background-color: rgb(163, 71, 71);
}
.test {
  background-color: rgb(241, 237, 237);
}
