.content {
  background-color: gray;
  width: 100%;
  margin-top: -50px;
  height: calc(100vh - 188px);
  overflow: hidden;
}
.content img {
  background-size: cover;
  background-position: center;
}

.home-container {
  margin: 100px;
}
.middle {
  margin: left 15px;
  border: rgb(53, 48, 48) solid;
  border-radius: 10px;
  padding: 40px;
}
.Toptendance {
  background-color: rgb(138, 79, 79);
}
.test {
  background-color: rgb(241, 237, 237);
}
