.products {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.products .title {
  color: rgb(75, 70, 70);
}
.products .title2 {
  color: rgb(56, 61, 56);
}
/*.products .one-piece-mug {
  text-align: center;
}*/
.text-content p {
  line-height: 10px;
}
/*.one-piece-mug {
  width: 600px;
  height: 600px;
}*/
.product-pic {
  width: 100%;
}
