.moncompte-array {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 30px 50px;
  border-bottom: 5px solid white;
  height: 50%;
}
.moncompte-body {
  min-height: calc(100vh - 168px);
  text-align: center;
  width: 60%;
  margin: 30px auto;
  background-color: #343a40;
  border: 1px black solid;
  border-radius: 10px;
}
.moncompte-body button {
  font-size: 20px;
  color: white;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  padding: 4px;
  background-color: #343a40;
  border: solid #17a2b8 2px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.moncompte-body button:hover {
  font-size: 20px;
  color: #17a2b8;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 4px;
  border: solid #17a2b8 2px;
  background-color: #343a40;
  position: relative;
  z-index: 1;
}
.simg {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.mon-compte-row {
  margin: 20px 0px;
  margin-left: 50px !important;
}
.mon-compte-col {
  text-align: left;
}
.mon-compte-col img,
label:hover {
  cursor: pointer;
}
.title-moncompte {
  color: #17a2b8;
  font-family: "Righteous", serif;
  margin: 20px;
}
