.moncompte-array {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 40px 50px;
  border-bottom: 5px solid white;
  height: 50%;
}
.moncompte-body {
  min-height: calc(100vh - 168px);
  text-align: center;
  width: 70%;
  margin: 30px auto;
  background-color: #343a40;
  border: 1px transparent solid;
  border-radius: 10px;
}
.moncompte-body button {
  font-size: 20px;
  color: white;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  padding: 4px;
  background-color: #343a40;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: solid transparent 0px;
}
.moncompte-body button:hover {
  border-bottom: solid#ffa766 2px;
}
.simg {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.mon-compte-row {
  margin: 20px 0px;
  margin-left: 50px !important;
}
.mon-compte-col {
  text-align: left;
}
.mon-compte-col img,
label:hover {
  cursor: pointer;
}
.title-moncompte {
  color: #ffa766;
  font-family: "Righteous", serif;
  margin: 20px;
  margin-bottom: 50px;
}
.moncompte-contact p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-left: 20%;
}
.fcicone {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.moncompte-icon {
  font-size: 25px;
  margin: 5px;
  bottom: 4px;
  position: relative;
}
