#logo {
  margin: 5px;
}
.header {
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 4px 2px 8px rgb(0, 0, 0);
}
.Top {
  display: inline-block;
  width: 50%;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-size: 25px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #17a2b8;
  font-size: 25px;
  border: solid 1px #17a2b8;
  border-radius: 10px;
}
.form-inline .form-control {
  width: 500px !important;
  text-align: center;
  margin: 10px;
}
.form-inline {
  justify-content: center;
  padding: 10px 0px;
  background-color: #464646;
}
.Menu {
  justify-content: right !important;
}
.navbar-nav svg {
  font-size: 30px;
  vertical-align: sub;
}
.menu-navmob {
  display: none;
}
.header-search {
  font-size: 40px;
  margin: 0px 20px;
  cursor: pointer;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .Top {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .header-nav-mob {
    text-align: right;
    font-size: 50px;
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }
  .Top {
    width: 100%;
  }
  .menu-navmob {
    display: block;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 5px;
    right: 0px;
    margin-right: 20px;
  }
  .menu-navmob:hover {
    cursor: pointer;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-size: 25px;
    display: inline-block;
    margin: 10px 15px;
    border: solid 1px transparent;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #17a2b8;
    font-size: 25px;
    border: solid 1px #17a2b8;
    border-radius: 10px;
    margin: 10px 15px;
  }
  .Menu .navbar .navbar-expand .navbar-dark {
    display: block;
  }
  .navbar-nav {
    flex-direction: column !important;
    background-color: black;
    position: absolute;
    margin: 10px 10px;
    border-radius: 10px;
    margin-right: 53px;
  }
}
